$mdc-typography-font-family: 'Roboto Condensed',
sans-serif;
$mdc-theme-primary: #2e294e;
$mdc-theme-secondary: #ffd400;
$mdc-theme-background: #eaeaea;
$mdc-theme-surface: #cbc5ea;
// $mdc-theme-primary: #1eb980;
// $mdc-theme-secondary: #ff6859;
// $mdc-theme-background: #33333d;
// $mdc-theme-surface: #373740;
$theme-error: #ff5252;
$phone-max: 600px;
$tablet-max: 1200px;
$desktop-max: 1800px;
//
@mixin tablet-and-above {
    @media (min-width: #{$phone-max + 1px}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$phone-max}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$phone-max + 1px}) and (max-width: #{$tablet-max}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$tablet-max}) {
        @content;
    }
}

//
// MAIN CSS
//
@import '@material/theme/mdc-theme';
@import '@material/animation/variables';
@import '@material/typography/mdc-typography';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/linear-progress/mdc-linear-progress';
@import '@material/list/mdc-list';
@import '@material/elevation/mdc-elevation';
@import '@material/elevation/mixins';
@import '@material/button/mdc-button';
@import '@material/ripple/mdc-ripple';
body {
    color: mdc-theme-accessible-ink-color($mdc-theme-background);
    background-color: $mdc-theme-background;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.header {
    z-index: 99;
    .fivefrets {
        font-weight: 300;
        letter-spacing: 4px;
        font-feature-settings: 'liga' 0;
        width: 100%;
        text-align: center;
        color: mdc-theme-accessible-ink-color($mdc-theme-primary);
        transition: all 1s $mdc-animation-deceleration-curve-timing-function;
        &:hover {
            color: $mdc-theme-secondary;
            letter-spacing: 6px;
        }
    }
}

.content {
    width: 95%;
    @include tablet {
        width: 90%;
    }
    @include desktop {
        width: 80%;
    }
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    .loader {
        width: 80%;
    }
}

.song {
    height: auto;
    margin: 10px 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    will-change: opacity;
    animation: fade-in 0.5s $mdc-animation-deceleration-curve-timing-function forwards;
    background: $mdc-theme-surface;
    @include mdc-elevation(1);
    &:hover {
        @include mdc-elevation(4);
    }
    .song-title {
        @include mdc-typography(body2);
        @include tablet-and-above {
            @include mdc-typography(body1);
        }
    }
    .youtube-image {
        width: auto;
        height: auto;
        transform: scale(0.75);
    }
}

$chord-height: 32px;
$chord-padding: 8px;
$grid-gap: 4px;
.player {
    margin-top: 32px;
    text-align: center;
    .chords {
        display: grid;
        grid-template-columns: repeat(4, $chord-height + (2 * $chord-padding));
        @include tablet {
            grid-template-columns: repeat(8, $chord-height + (2 * $chord-padding));
        }
        @include desktop {
            grid-template-columns: repeat(16, $chord-height + (2 * $chord-padding));
        }
        grid-gap: $grid-gap;
        justify-content: center;
        margin: 16px 0;
        height: 5 * ($chord-height + (2 * $chord-padding) + $grid-gap);
        overflow: hidden;
        transition: all 0.5s $mdc-animation-deceleration-curve-timing-function;
        scroll-behavior: smooth;
        .chord {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $chord-padding;
            height: $chord-height;
            opacity: 0;
            animation: fade-in-place 0.5s $mdc-animation-deceleration-curve-timing-function forwards;
            cursor: pointer;
            background: $mdc-theme-surface;
            @include mdc-elevation(1);
            transition: all 0.5s $mdc-animation-deceleration-curve-timing-function;
            &-active {
                background: $mdc-theme-secondary;
                color: mdc-theme-accessible-ink-color($mdc-theme-secondary);
                font-weight: bolder;
            }
            &:hover {
                @include mdc-elevation(4);
            }
        }
        :nth-child(4n) {
            border-right: 2px solid $mdc-theme-secondary;
        }
    }
    &-controls {
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include tablet-and-above {
            flex-direction: row;
        }
        fieldset {
            margin: 2px;
        }
        legend {
            text-align: left;
            font-style: italic;
        }
    }
    &-control-item {
        margin: 0 4px;
        letter-spacing: 4px;
    }
    &-youtube {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 4px;
        @include mdc-elevation(4);
        height: 90px;
        width: 160px; // z-index: 10;
        animation: fade-in 0.5s $mdc-animation-deceleration-curve-timing-function;
        transition: all 0.5s $mdc-animation-deceleration-curve-timing-function;
        @include phone {
            display: flex;
            align-items: center;
            text-align: left;
            right: 0;
            margin: 0px;
            height: 90px;
            width: 100%;
            color: mdc-theme-accessible-ink-color($mdc-theme-primary);
            background-color: $mdc-theme-primary;
            &-video {
                max-width: 100%;
                max-height: 100%;
            }
            &-controls {
                text-align: center;
                width: 100%;
            }
        }
    }
    &-image {
        max-width: 100%;
        max-height: 100%;
    }
    &-youtube-clearfix {
        margin-bottom: 140px;
    }
}

.error {
    text-align: center;
    padding: 16px;
    margin: 8px;
    background: $theme-error;
}

@keyframes fade-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-place {
    0% {
        opacity: 0;
        @include mdc-elevation(24);
    }
    100% {
        opacity: 1;
        @include mdc-elevation(2);
    }
}