$mdc-theme-primary: #1eb980;
$mdc-theme-secondary: #ff6859;
$mdc-theme-background: #33333d;
$mdc-theme-surface: #373740;
@import '@material/theme/mdc-theme';
@import '@material/typography/mdc-typography';
@import '@material/top-app-bar/mdc-top-app-bar';
.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.fivefrets {
    // @include mdc-typography('headline4');
    font-weight: 300;
    letter-spacing: 4px;
    font-feature-settings: 'liga' 0;
    width: 100%;
    text-align: center;
}